*{
    padding:0;
    margin:0;
}
body{
    padding-top:20px;
    background-color: white;
}
.col-sm-10{
    background-color: #ffffff !important;
}
#white{
    background-color: #ffffff;
}
#sidemenu a{
    color: #9fb1c2;
}
#Side_Menu .active a{
color: #ffffff;
background-color: #27AAE1;
font-weight: bold;
}
#Side_Menu a:hover{
color:#ffffff;
background-color:#1ab394;
font-weight: bold;
display: block;
}